:root {
/* main color for app in mdoc yellow */
--mainColor: #002c5a;
/*  Error color */
--errorColor: #ed1c24;
/* Button text color */
--buttonTextColor: #ffffff;
/* background color of app */
--backgroundColor: #fafafa;
/*  color of cards displayed on background */
--backgroundCardColor: #fff;
/* color ov text that have link */
--linkColor: lightblue;
/* change color of icons in mdoc */
--iconColor: red;
--textColor: black;
/* color of typical buttons */
--buttonColor: #002C5A;
/* on button hover event change color */
--buttonHover: #2f3848;
/* special color in questery  header, usualy litlebit darker then background color */
--questioneryCardHeader: #f0f1f1;
/* color of slider in meal-patient plan, usualy litlebit darker or  lighter then background */
--checkSliderColor: #ccc;
/* special buttons in vitals, usualy litlebit darker or  lighter then background */
/*  */
--vitalsInActiveButton: #fbfbfb;
/* in admin setting menu on hover color, usulay darker then background */
--settingHoverColor: #f5f5f5;
/* Hover on tab in patient details */
--tabHoverColor: rgba(0, 44, 90, 0.25);
/* Header text color */
--headerAdminTextColor: #002c5a;
/* Sidebar active color */
--sidebarActiveColor: #002c5a;
/* Patient details warning container */
--warningContainerColor: rgba(221, 0, 17, 0.15);
/* font ih whole app */
--font: 'Roboto Light';
--roboto: 'Roboto Regular';
--robotoBold: 'Roboto Bold';
--robotoLight: 'Roboto Light';
--robotoMedium: 'Roboto Medium';
--groteskSemiBold: 'HK Grotesk SemiBold';
--groteskRegular: 'HK Grotesk Regular';
--groteskBold: 'HK Grotesk Bold';
/* main font color */
--fontColor: #434955;
/* selected week color on admin side, usulay darker then main color */
--selectedWeek: rgba(91,155,211,.5);
--adminSideTableHeader: #ededed;
--adminSideTableRow: #fafafa;
--adminSideTableBorder: 1px solid #dcdcdc;
--adminSideTableColor: #333333;
/*  */
--selectedDayVitals: #fff;
/*  Therapy */
--weekDayTherapyField: rgba(91,155,211,.5);
/*  Show/Hide QR-Code text */
--showHideQRCodeText: block;
/*  Media Queries */
/*  Extra Small Devices, Mobile .visible-xs-* */
/*  Small Devices, Tablet portrait .visible-sm-* */
/*  Medium Devices, Tablet landscape .visible-md-* */
/*  Large Devices, Desktop .visible-lg-* */
/* Meal */
/* rating */
--logoImageUrl: url("/config/assets/web/images/mdoc_icons/header/logo-joh@3x.png");
--vidLogoImageUrl: "../../../../core/assets/images/mdoc_icons/header/logo-joh@3x.png";
--patientLogoImageUrl: url("/config/assets/web/images/mdoc_icons/header/logo-joh@3x.png");
--logoImageUrlHight: 45px;
--logoImageUrlWidth: 100px;
--patientLogoImageUrlHight: 45px;
--patientLogoImageUrlWidth: 100px;
--logoImageUrlLeftM: 10px;
--patientLogoImageUrlLeftM: 10px;
--logoImageContainerTopPosition: 27px;
--patientLogoImageUrlTop: 0px;
--adminHeaderSettingsIcon: url("/config/assets/web/images/mdoc_icons/header/johannesbad_icons/inactive/settings-icon-copy@3x.png");
--adminHeaderSettingsHoverIcon: url("/config/assets/web/images/mdoc_icons/header/johannesbad_icons/active/settings-icon@3x.png");
--adminLogoutIcon: url("/config/assets/web/images/mdoc_icons/header/johannesbad_icons/inactive/logout-copy@3x.png");
--adminLogoutHoverIcon: url("/config/assets/web/images/mdoc_icons/header/johannesbad_icons/active/logout@3x.png");
/*  Sidebar Admin Active Icons */
--adminActivePatientsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/patients-y@3x.png");
--adminActiveAdminsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/admins-y@3x.png");
--adminActiveMealPlanIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/meal-y@3x.png");
--adminActiveQuestionnairesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/quest-y@3x.png");
--adminActiveClinicsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/clinics-y@3x.png");
--adminActiveMarketPlaceIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/video-player-2-copy@3x.png");
--adminActiveSettingsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/settings-y@3x.png");
--adminActiveVirtualPracticeIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/vp-y@3x.png");
--adminActiveMyFilesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/files-y@3x.png");
--adminActiveKioskIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/kiosk-y@3x.png");
--adminActiveLogoutIcon: url("/config/assets/web/images/mdoc_icons/header/johannesbad_icons/active/logout@3x.png");
--adminActivePatientJourneyIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/active/maps-and-location@3x.png");
--adminActiveLeftIcon: url("/config/assets/web/images/mdoc_icons/sidebar/johannesbad_icons/active/indicator@3x.png");
--adminActiveInfoIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/active/info-terms.png");
--adminPostboxIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/video-player@3x.png");
--adminPostboxIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/message.png");
/*  SIDEBAR ICONS */
--adminPatientsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/patients-sidebar-icon.svg");
--adminMealPlanIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/meal-sidebar-icon.svg");
--adminQuestionnairesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/questionnarie-sidebar-icon.svg");
--adminMediaIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/media-sidebar-icon.svg");
--adminMyFilesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/files-sidebar-icon.svg");
--adminPatientJourneyIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/journey-sidebar-icon.svg");
--adminPostboxIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/postbox-sidebar-icon.svg");
--adminDmpIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/dmp-sidebar-icon.svg");
--adminCalendarIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/calendar-sidebar-icon.svg");
--adminHelpIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/help-sidebar-icon.svg");
--adminDiaryIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/diary-sidebar-icon.svg");
--adminChecklisteIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/checkliste-sidebar-icon.svg");
--adminAccountIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/profil-sidebar-icon.svg");
--adminGoalIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/goals-sidebar-icon.svg");
--adminMyStayIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/mystay-sidebar-icon.svg");
--adminCodingIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/coding-sidebar-icon.svg");
--adminPolenIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/polen-sidebar-icon.svg");
--adminOrganizationIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/organization-sidebar-icon.png");
--adminBazaarIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/bazaar-sidebar-icon.svg");
--adminDmpPatientIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/dmp-patients-sidebar-icon.svg");
--adminInsurancePatientIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/insurance-patient-sidebar-icon.svg");
--adminTimeSlotIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/time-slots-sidebar-icon.svg");
--adminBookAppointmentIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/book-appointment-sidebar-icon.svg");
--adminExerciseIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/exercise-sidebar-icon.svg");
--adminStatisticsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/statistics-sidebar-icon.svg");
--adminKioskIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/kiosk-sidebar-icon.svg");
--adminActivityIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/activity-sidebar-icon.svg");
--adminAdminSettingsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/admin-settings-sidebar-icon.svg");
--adminClinicIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/clinic-sidebar-icon.svg");
--adminAdminManagmentIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/admin-managment-sidebar-icon.svg");
--adminSettingsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/settings-sidebar-icon.svg");
--adminOrganisationsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/activity-sidebar-icon.svg");
--adminOverviewIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/overview-sidebar-icon.svg");
--digitalSignature: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/digitalSignature.png");
}