:root {
/* main color for app in mdoc yellow */
--mainColor: #f5c13b;
/*  Error color */
--errorColor: #ed1c24;
/* Button text color */
--buttonTextColor: #242220;
/* background color of app */
--backgroundColor: #fafafa;
/*  color of cards displayed on background */
--backgroundCardColor: #fff;
/* color ov text that have link */
--linkColor: lightblue;
/* change color of icons in mdoc */
--iconColor: red;
--textColor: black;
/* color of typical buttons */
--buttonColor: #5b9bd3;
/* on button hover event change color */
--buttonHover: #2f3848;
/* special color in questery  header, usualy litlebit darker then background color */
--questioneryCardHeader: #f0f1f1;
/* color of slider in meal-patient plan, usualy litlebit darker or  lighter then background */
--checkSliderColor: #ccc;
/* special buttons in vitals, usualy litlebit darker or  lighter then background */
/*  */
--vitalsInActiveButton: #fbfbfb;
/* in admin setting menu on hover color, usulay darker then background */
--settingHoverColor: #f5f5f5;
/* Hover on tab in patient details */
--tabHoverColor: rgba(245, 193, 59, 0.25);
/* Header text color */
--headerAdminTextColor: #f5c13b;
/* Sidebar active color */
--sidebarActiveColor: #f5c13b;
/* font ih whole app */
--font: 'Roboto Light';
--roboto: 'Roboto Regular';
--robotoBold: 'Roboto Bold';
--robotoLight: 'Roboto Light';
--robotoMedium: 'Roboto Medium';
--groteskSemiBold: 'HK Grotesk SemiBold';
--groteskRegular: 'HK Grotesk Regular';
--groteskBold: 'HK Grotesk Bold';
/* main font color */
--fontColor: #434955;
/* selected week color on admin side, usulay darker then main color */
--selectedWeek: rgba(245,193,59,.5);
--adminSideTableHeader: #ededed;
--adminSideTableRow: #fafafa;
--adminSideTableBorder: 1px solid #dcdcdc;
--adminSideTableColor: #333333;
--selectedDayVitals: #000;
/*  Therapy */
--weekDayTherapyField: rgba(91,155,211,.5);
/*  Show/Hide QR-Code text */
--showHideQRCodeText: block;
/* Patient details warning container */
--warningContainerColor: #fef6e2;
/*  Media Queries */
/*  Extra Small Devices, Mobile .visible-xs-* */
/*  Small Devices, Tablet portrait .visible-sm-* */
/*  Medium Devices, Tablet landscape .visible-md-* */
/*  Large Devices, Desktop .visible-lg-* */
/* Meal */
/* rating */
--logoImageUrl: url("/config/assets/web/images/mdoc_icons/header/Logo-SmartPractice.svg");
--patientLogoImageUrl: url("/config/assets/web/images/mdoc_icons/header/Logo-SmartPatient.svg");
--vidLogoImageUrl: url("../../../../core/assets/images/mdoc_icons/header/Logo-SmartPatient.svg");
--logoImageUrlHight: 55px;
--logoImageUrlWidth: 120px;
--patientLogoImageUrlHight: 45px;
--patientLogoImageUrlWidth: 112px;
--logoImageUrlLeftM: 30px;
--patientLogoImageUrlLeftM: -15px;
--logoImageContainerTopPosition: 21px;
--patientLogoImageUrlTop: 0px;
--adminHeaderSettingsIcon: url("/config/assets/web/images/mdoc_icons/header/smartpractise_icons/active/settings-icon@3x.png");
--adminHeaderSettingsHoverIcon: url("/config/assets/web/images/mdoc_icons/header/smartpractise_icons/active/settings-icon@3x.png");
--adminLogoutIcon: url("/config/assets/web/images/mdoc_icons/header/smartpractise_icons/active/logout@3x.png");
--adminLogoutHoverIcon: url("/config/assets/web/images/mdoc_icons/header/smartpractise_icons/active/logout@3x.png");
/*  Sidebar Admin Active Icons */
--adminActivePatientsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/patients-g@3x.png");
--adminActiveAdminsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/admins-g@3x.png");
--adminActiveMealPlanIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/meal-plan-g@3x.png");
--adminActiveQuestionnairesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/quest-g@3x.png");
--adminActiveClinicsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/clinics-g@3x.png");
--adminActiveMarketPlaceIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/media@3x.png");
--adminActiveSettingsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/settings-g@3x.png");
--adminActiveVirtualPracticeIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/vp-g@3x.png");
--adminActiveMyFilesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/files-g@3x.png");
--adminActiveKioskIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/kiosk-g@3x.png");
--adminActiveLogoutIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/logout@3x.png");
--adminActivePatientJourneyIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/maps-and-location@3x.png");
--adminActiveLeftIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/indicator@3x.png");
--adminActiveInfoIcon: url("/config/assets/web/images/mdoc_icons/sidebar/smartpractise_icons/active/info-terms.png");
/*  Sidebar Admin Icons */
--adminPatientsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/patients-g@3x.png");
--adminAdminsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/group@3x.png");
--adminMealPlanIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/dinner@3x.png");
--adminQuestionnairesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/question@3x.png");
--adminMediaIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/video-player@3x.png");
--adminClinicsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/cross@3x.png");
--adminMarketPlaceIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/media@3x.png");
--adminSettingsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/settings-icon@3x.png");
--adminVirtualPracticeIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/doctor-stethoscope@3x.png");
--adminMyFilesIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/files-board-icon@3x.png");
--adminKioskIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/kiosk@3x.png");
--adminPatientJourneyIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/active/maps-and-location@3x.png");
--adminSidebarLogoutIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/active/logout@3x.png");
--adminPostboxIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/message.png");
--adminDmpIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/dmp-sidebar-icon.svg");
--adminCalendarIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/calendar-sidebar-icon.svg");
--adminDiaryIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/diary-sidebar-icon.svg");
--adminChecklisteIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/checkliste-sidebar-icon.svg");
--adminAccountIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/profil-sidebar-icon.svg");
--adminGoalIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/goals-sidebar-icon.svg");
--adminMyStayIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/mystay-sidebar-icon.svg");
--adminCodingIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/coding-sidebar-icon.svg");
--adminPolenIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/polen-sidebar-icon.svg");
--adminStatisticsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/statistics-sidebar-icon.svg");
--adminExerciseIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/exercise-sidebar-icon.svg");
--adminBookAppointmentIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/book-appointment-sidebar-icon.svg");
--adminTimeSlotIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/time-slots-sidebar-icon.svg");
--adminInsurancePatientIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/insurance-patient-sidebar-icon.svg");
--adminDmpPatientIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/dmp-patients-sidebar-icon.svg");
--adminBazaarIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/bazaar-sidebar-icon.svg");
--adminActivityIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/activity-sidebar-icon.svg");
--adminAdminSettingsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/admin-settings-sidebar-icon.svg");
--adminClinicIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/clinic-sidebar-icon.svg");
--adminAdminManagmentIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/admin-managment-sidebar-icon.svg");
--adminOrganisationsIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/activity-sidebar-icon.svg");
--adminOverviewIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/overview-sidebar-icon.svg");
--adminHelpIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/help-sidebar-icon.svg");
--digitalSignature: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/digitalSignature.png");
--adminVMIcon: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/visitor-management-sidebar-icon.svg");
--adminPreRegisterPortal: url("/config/assets/web/images/mdoc_icons/sidebar/mdoc_icons/inactive/pre-register.svg");
}
